@import url('https://fonts.googleapis.com/css?family=DM+Sans');


.container_header {
  background-color: #153792;
  display: flex;
  height: 80px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.logo {
  position: absolute; /* or absolute */
  left: -10px; /* Moves the logo horizontally */
  top: -10px; /* Moves the logo vertically */
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.sign-up-btn {
  position: absolute;
  top: -12px;
  right: 0px;
  padding: 14px 24px;
  font-size: 15px;
  background-color: hsl(0, 0%, 100%);
  color: black;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
}

.sign-up-btn:hover {
  background-color: rgb(201, 227, 241);
}

.log-out-btn {
  position: absolute;
  top: -20px;
  right: 500px;
  padding: 20px 30px;
  font-size: 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 30px 30px 10px;
  font-weight: bold;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
}

body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}





