@import url('https://fonts.googleapis.com/css?family=DM+Sans');


.rating-box {
    text-align: center;
}

.stars {
    display: inline-block;
}

.stars i {
    font-size: 30px;
    color: #ccc; /* Default color for unselected stars */
    cursor: pointer;
}

.stars i:hover,
.stars i:hover ~ i {
    color: #deb217; /* Color when hovering over stars */
}

.checked {
    color: #ffc700; /* Color for selected stars */
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    position: relative;
    display:flex;
    flex-direction: column;
  }

  .submit-btn {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
  }
  
  .submit-btn:hover {
    background-color: #3FA15D; /* Darker blue on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Larger shadow */
    transform: scale(1.05); /* Slightly larger on hover */
  
  } 
  .h2 {
    text-align: center;
  }